body{

    background-color: #D9D9D9;
    margin: 0px;
}
#catagorynamenumber{

    background-color: white;
    width: 86%;
    height: 73px;
    padding-top: 21px;
    padding-left: 18px;
    border-radius: 10px;
}
#cardimg img{

  width: 244px;
  height: 300px;
  border-radius: 5px;

}
.cut-text { 
    color: #718797;
    text-overflow: ellipsis;
    overflow: hidden; 
    width: 90%;
    height: 190px;
    white-space: wrap;

  }
.cardwriterimg img{

    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.cardwriterdate{

    color: #718797;
    
}
.news{

    text-decoration: none;
}
footer{

    padding-bottom: 110px;
    padding-top: 60px;
}